# PocketBase
pocketbase/pb_data/
pocketbase/*.exe
pocketbase/pocketbase

# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
**/*.pyc

# Node / Bun
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Misc
.DS_Store
*.log
